.pdf-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
  height: 80vh;
}

.pdf-content {
  width: 100%;
  height: 100%;
}

.pdf-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .8rem;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  button {
    background-color: greenyellow;
    font-weight: bold;
    font-style: italic;
    padding: .3rem;

    &:hover {
      background-color: green;
      color: white;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 850px) {
  .pdf-container {
    width: 90vw;
  }
}

@media only screen and (min-width: 1100px) {
  .pdf-container {
    width: 60vw;
  }
}
